<div class="container">

    <div *ngIf="listado_publicaciones"  class="cuadriculas">
        <div class="post" [ngStyle]="{width: size}" *ngFor="let i of publicaciones">
            <app-publicacion></app-publicacion>
        </div>
        <br><br><br><br><br>
    </div>
    
    <div *ngIf="mapas" class="mapas">
        <app-maps></app-maps>
    </div>


    <div class="paginador background-general"  *ngIf="!mapas">
        <ul class="pagination background-general">
            <li class="page-item"><a class="" routerLink=""><<</a></li>
            <li class="page-item" *ngFor="let p of pages; let i = index">
                <a class="" routerLink="">{{i+1}}</a>
            </li>
            <li class="page-item"><a class="" routerLink="">>></a></li>
            <li class="to_end">
                <p>{{elementos_totales}} de {{publicaciones.length}}</p>
            </li>
        </ul>
    </div>
</div>