.paginador{
    position: relative;
    width: 100%;
    height: 10px;
}

.paginador ul li a{
    color: white;
    margin: 10px;
    font-size: large;
}

.to_end{
    margin-left: 55%;
    color: white;
    font-size: large;
}

.cuadriculas{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}

.post{
    display: inline-flex;
    position: relative;
}

@media screen and (min-width: 1900px) {
    .to_end{
        margin-left: 65%;
    }
}