<nav class="background-general shadow-sm">

    <div class="options-div">
        <div class="logo-div">
            <div class="img-logo">

            </div>
        </div>
        <div class="center-div">
            <div class="navbar_up">
                <ul>
                    <li *ngFor="let item of secciones">
                        <a href="#" style="font-size: large;">{{item}}</a>
                    </li>
                </ul>
            </div>
            
            <div class="navbar_down">
                <ul>
                    <li>
                        <select style="display: block;" class="custom-select">
                        <option value="" disabled selected>Tipo de mueble</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        </select>
                    </li>
                    <li>
                        <select style="display: block;"  class="custom-select">
                        <option value="" disabled selected>Estado</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        </select>
                    </li>
                    <li>
                        <select style="display: block;" class="custom-select">
                        <option value="" disabled selected>Ciudad</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        </select>
                    </li>
                    <li>
                        <div class="input-group flex-nowrap">
                            <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" placeholder="Buscar">
                            <div class="input-group-append">
                                <span class="input-group-text"><fa name="search" ></fa></span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="input-group flex-nowrap">
                        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" placeholder="Codigo de publicacón">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <fa name="search" ></fa>
                            </span>
                        </div>
                      </div>
                    </li>
                </ul>
                
            </div>
        </div>
        <div class="idioma-div">
            c
        </div>
    </div>

</nav>











    
