.card{
    /*background-image: url('https://www.bienesonline.com/mexico/photos/fachada-11280945132.jpg');*/
    width: 100% !important;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s ease;
    /* padding-top: 100%;*/
    margin-bottom: 1% !important;
}

.card:hover{
    opacity: 0.5;
}

.card-body{
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

span{
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    padding: 3px;
}

.card-title{
    text-align: end !important;
    margin-top: 15px;
}

.card-text{
    padding-top: 55%;
}

.card-text p{
    background-color: white;
    padding: 3px;
}
