<div class="bar-left">

    <div class="row pl-3 pr-3">
        <div style="width: 32%; margin-right: 1%;">
            <select class="custom-select custom-select-sm" style="display: block;">
                <option value="" selected>Estado</option>
                <option value="1"> 1</option>
                <option value="2"> 2</option>
                <option value="3"> 3</option>
            </select>
        </div>
        <div style="width: 52%; margin-right: 1%; margin-left: 1%;">
            <select class="custom-select custom-select-sm" style="display: block;">
                <option value="" selected>Ciudad o población</option>
                <option value="1"> 1</option>
                <option value="2"> 2</option>
                <option value="3"> 3</option>
            </select>
        </div>
        <div style="width: 10%;">
            <a class="btn btn-sm" href="#" style="color: white;">
                <fa name="search" class="fa-lg"></fa>
            </a>
        </div>
    </div>

    <div class="row mt-1 pl-3 pr-3">
        <div style="width: 32%; margin-right: 1%;">
            <button class="btn btn-sm" style="background-color: white; width: 100%;" >Ver: </button>
        </div>
        <div style="width: 32%; margin-left: 1%; margin-right: 1%;">
            <select class="custom-select custom-select-sm" style="display: block;" (change)="seleccionarCuadricula($event)"
            [(ngModel)]="cuadricula_seleccionada">
                <option value="" selected>Tablero</option>
                <option value="2">Tablero 2x2</option>
                <option value="3">Tablero 3x3</option>
                <option value="4">Tablero 4x4</option>
                <option value="6">Tablero 6x4</option>
                <option value="8">Tablero 8x4</option>
                <option value="10">Tablero 10x4</option>
            </select>
        </div>
        <div style="width: 32%; margin-left: 1%;">
            <select class="custom-select custom-select-sm" style="display: block;"
            (change)="mostrarMapa($event)" [(ngModel)]="mapa_sel">
                <option value="" selected>Mapa</option>
                <option value="MP"> Normal </option>
                <option value="none"> Satelite </option>
                <option value="none"> 3</option>
            </select>
        </div>
    </div>

    <div class="row mt-1 ">
        <div class="col" >
            <a href="#" style="color: white;">Filtros avanzados</a>
        </div>
    </div>

    <div class="row mt-1 pl-3 pr-3">
        <div class="" style="width: 100%;">
            <input class="form-control form-control-sm" type="text" placeholder="Telefono movil o e-mail de promotor"
            style="width: 100%;">
        </div>
    </div>
    <div class="row mt-1 pl-3 pr-3">
        <div style="width: 49%; margin-right: 1%;">
            <select class="custom-select custom-select-sm" >
                <option value="" selected>Colonia?</option>
                <option value="1"> 1</option>
                <option value="2"> 2</option>
            </select>
        </div>
        <div style="width: 49%; margin-left: 1%;">
            <select class="custom-select custom-select-sm"  >
                <option value="" selected>Amueblada?</option>
                <option value="1">Si</option>
                <option value="2">No</option>
            </select>
        </div>
    </div>
    <div class="row mt-1 pl-3 pr-3">
        <div style="width: 32%; margin-right: 1%;">
            <select class="custom-select custom-select-sm">
                <option value="" selected>Recamaras?</option>
                <option value="1"> 1</option>
                <option value="2"> 2</option>
                <option value="3"> 3</option>
            </select>
        </div>
        <div style="width: 32%; margin-left: 1%; margin-right: 1%;">
            <select class="custom-select custom-select-sm" >
                <option value="" selected>Baños?</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div style="width: 32%; margin-left: 1%;">
            <select class="custom-select custom-select-sm">
                <option value="" selected>Estacion?</option>
                <option value="1"> 1</option>
                <option value="2"> 2</option>
                <option value="3"> 3</option>
            </select>
        </div>
    </div>

    <div class="row mt-1 pl-3 pr-3">
        <div style="width: 49%; margin-right: 1%;">
            <select class="custom-select custom-select-sm" style="display: block;">
                <option value="" selected>mts2 contruidos</option>
                <option value="1"> 1</option>
                <option value="2"> 2</option>
                <option value="3"> 3</option>
            </select>
        </div>
        <div style="width: 49%; margin-left: 1%;">
            <select class="custom-select custom-select-sm" style="display: block;">
                <option value="" selected>mts2 de superficie</option>
                <option value="1"> 1</option>
                <option value="2"> 2</option>
                <option value="3"> 3</option>
            </select>
        </div>
    </div>

    <div class="row mt-1 pl-3 pr-3" >
        <div style="width: 49%; margin-right: 1%;">
            <select class="custom-select custom-select-sm" style="display: block;">
                <option value="" selected>Precio desde $</option>
                <option value="1"> 1</option>
                <option value="2"> 2</option>
                <option value="3"> 3</option>
            </select>
        </div>
        <div style="width: 49%; margin-left: 1%;">
            <select class="custom-select custom-select-sm"style="display: block;">
                <option value="" selected>Ordenar por</option>
                <option value="1"> 1</option>
                <option value="2"> 2</option>
                <option value="3"> 3</option>
            </select>
        </div>
    </div>

    <div class="row mt-1 pl-3 pr-3">
        <div style="width: 32%; margin-right: 1%;">
            <select class="custom-select custom-select-sm" >
                <option value="" selected>Publicado?</option>
                <option value="1"> 1</option>
                <option value="2"> 2</option>
                <option value="3"> 3</option>
            </select>
        </div>
        <div style="width: 37%; margin-left: 1%; margin-right: 1%;">
            <button class="btn btn-sm"  style="background-color: white; color: black; width: 100%;">Reiniciar filtros</button>
        </div>
        <div style="width: 27%; margin-left: 1%;">
            <button class="btn btn-sm" style="background-color: white; color: black; width: 100%;">Aplicar</button>
        </div>
    </div>

    <div class="row mt-1">
        <ul>
            <li *ngFor="let opcion of lista_opciones">
                <a [routerLink]="opcion.url">{{opcion.name}}</a>
            </li>
        </ul>
    </div>
</div>